{% extends "registration_base.html" %}
{% block main %}
<section style="margin-top: 50px;">
    <header>登入帳號</header>
    {% include "_form.html" with submit_label="ログイン" %}
    <div class="two-col">
        <div class="one">
            
        </div>
        <div class="two">
            <label><a style="color: gray;" href="{% url 'password_reset' %}">忘記密碼?</a></label>
        </div>
    </div>
    <div class="top">
        <span style="color: gray;">尚未建立帳號? <a href="{% url 'signup' %}" style="color: gray;" onclick="register()">註冊</a></span>
    </div>
</section>
{% endblock %}
